name: Release

on:
  push:
    # paths:
    #   - '.changeset/**'
    #   - 'packages/**'
    branches:
      - beta

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: checkout branch
        uses: actions/checkout@v4

      - name: install and configure git
        uses: ./.github/common-actions/install
        # env:
        #   GHP_PACKAGES_TOKEN: ${{ secrets.GHP_PACKAGES_TOKEN }}

      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: build packages
        run: pnpm build

      # - name: Tests
      #   run: pnpm test

      # - name: get package registry GRP
      #   run: npm config set registry https://npm.pkg.github.com

      # - name: github package registry authentication
      #   run: npm set //npm.pkg.github.com/:_authToken=${{ secrets.GHP_PACKAGES_TOKEN }}

      - name: create release pull request or publish to GRP
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm release
          title: "ci(changesets): :package: version packages"
          commit: "ci(changesets): version packages"
          setupGitUser: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
